spring:
  application:
    name: "demo-application"

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  sql:
    init:
      mode: always

server:
  port: 8080

jwt:
  accessExpiration: 900000
  refreshExpiration: 604800000
  secret: SecretniyJwtKluchBIB230111131131