on:
  push:
    branches:
    - master

env:
  SQL_USERNAME: ${{ secrets.SQL_USERNAME }}
  SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
  JWT_SECRET: ${{ secrets.JWT_SECRET }}
  KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: maven:3.9-eclipse-temurin-21
    services:
      postgres:
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: ${{ secrets.SQL_USERNAME }}
          POSTGRES_PASSWORD: ${{ secrets.SQL_PASSWORD }}
        image: postgres:15
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - run: |
          cat > src/main/resources/application.yml << EOF
          spring:
            application:
              name: TestTwo
            datasource:
              url: jdbc:postgresql://postgres:5432/postgres
              username: ${{ secrets.SQL_USERNAME }}
              password: ${{ secrets.SQL_PASSWORD }}
            jpa:
              hibernate:
                ddl-auto: none
              show-sql: true
              properties:
                hibernate:
                  format_sql: true
              defer-datasource-initialization: true
            sql:
              init:
                mode: always
                platform: postgresql
          server:
            port: 8080
            ssl:
              enabled: false
          logging:
            level:
              org.springframework.security: DEBUG
              org.springframework.web: DEBUG
          jwt:
            secret: ${{ secrets.JWT_SECRET }}
            accessExpiration: 900000
            refreshExpiration: 604800000
          EOF
      - run: apt-get update && apt-get install -y postgresql-client
      - run: sleep 15

      - name: Build
        run: mvn clean package -DskipTests

      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: ./target/*.jar

      - name: Run test
        run: mvn test