on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: maven:3.9-eclipse-temurin-21
    env:
      SQL_USERNAME: ${{ secrets.SQL_USERNAME }}
      SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
      KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
    services:
      postgres:
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        image: postgres:15
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - run: |
          echo ${{ secrets.SQL_USERNAME }}
          echo ${{ secrets.SQL_PASSWORD }}
          echo ${{ secrets.KEYSTORE_PASSWORD }}
          echo ${{ secrets.JWT_SECRET }}
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build
        run: mvn clean package -DskipTests

      - name: Test
        run: |
          cat > src/main/resources/application.yml << 'EOF'
          spring:
            application:
              name: DemoApplication
          
            datasource:
              url: jdbc:postgresql://localhost:5432/postgres
              username: ${SQL_USERNAME}
              password: ${SQL_PASSWORD}
              driver-class-name: org.postgresql.Driver
          
            jpa:
              hibernate:
                ddl-auto: update
              show-sql: true
            sql:
              init:
                mode: always
          
          server:
            port: 8080
            ssl:
              enabled: false
              key-store:
                classpath:server_cert1BIB23342.jks
              key-store-type:
                JKS
              key-store-password:
                ${KEYSTORE_PASSWORD}
              key-alias:
                server_cert1BIB23342
          
          jwt:
            secret: ${JWT_SECRET}
            accessExpiration: 900000
            refreshExpiration: 604800000
          EOF
      - run: apt-get update && apt-get install -y postgresql-client
      - run: sleep 25
      - name: Run test
        run: mvn test

      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: ./target/*.jar